<h2>Pending Requests</h2>
<p *ngIf="pendingRequests.length === 0; else pendingRequestsExist">No Pending Requests</p>
<ng-template #pendingRequestsExist>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Employee Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let request of pendingRequests; let i = index">
      <td>{{ request.fullName }}
      </td>
      <td>{{ convertHTMLToDate(request.startDate).toString() }}
      </td>
      <td>{{ convertHTMLToDate(request.endDate).toString() }}
      </td>
      <td>
          <button class="btn btn-success" (click)="onProcessRequest(request, i, 'approve')">Approve</button>
          <button class="btn btn-danger"(click)="onProcessRequest(request, i, 'deny')">Deny</button>
      </td>
  </tr>
  </tbody>
</table>
</ng-template>

<h2>Approved Requests</h2>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of approvedRequests">
      <td>{{ request.EmployeeName }}
      </td>
      <td>{{ convertHTMLToDate(request.startDate).toString() }}
      </td>
      <td>{{ convertHTMLToDate(request.endDate).toString()  }}
      </td>
    </tr>
  </tbody>
</table>

<h2>Denied Requests</h2>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of deniedRequests">
      <td>{{ request.EmployeeName }}
      </td>
      <td>{{ convertHTMLToDate(request.startDate).toString() }}
      </td>
      <td>{{ convertHTMLToDate(request.endDate).toString() }}
      </td>
    </tr>
  </tbody>
</table>
