<h2>Pending Requests</h2>
<table class="table table-bordered">
  <tr>
    <th>Employee Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th></th>
  </tr>
  <tr *ngFor="let request of pendingRequests; let i = index">
      <td>{{ request.EmployeeID }}
      </td>
      <td>{{ request.StartDate }}
      </td>
      <td>{{ request.EndDate }}
      </td>
      <td>
          <button class="btn btn-success" (click)="onProcessRequest(request, i, 'approve')">Approve</button>
          <button class="btn btn-danger"(click)="onProcessRequest(request, i, 'deny')">Deny</button>
      </td>
  </tr>
</table>

<h2>Approved Requests</h2>
<table class="table table-bordered">
  <tr>
    <th>Employee Name</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <tr *ngFor="let request of approvedRequests">
    <td>{{ request.EmployeeID }}
    </td>
    <td>{{ request.StartDate }}
    </td>
    <td>{{ request.EndDate }}
    </td>
  </tr>
</table>

<h2>Denied Requests</h2>
<table class="table table-bordered">
  <tr>
    <th>Employee Name</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <tr *ngFor="let request of deniedRequests">
    <td>{{ request.EmployeeID }}
    </td>
    <td>{{ request.StartDate }}
    </td>
    <td>{{ request.EndDate }}
    </td>
  </tr>
</table>
