<div class="col-md-4">
  <form (ngSubmit)="onChangePassword()" #changePasswordForm="ngForm">
    <div class="form-group" [ngClass]="{'has-error': newPasswordInput.invalid && newPasswordInput.touched}">
      <label for="newPassword" class="control-label">New Password: </label>
      <input
        type="text"
        name="newPassword"
        id="newPassword"
        class="form-control"
        required
        ngModel
        #newPasswordInput="ngModel">
    </div>
    <button type="submit" class="btn btn-primary" name="changePassword" [disabled]="changePasswordForm.invalid">Change Password</button>
  </form>
  <div class="alert" [ngClass]="{'alert-danger': errorMessage.length > 0, 'alert-success': successMessage.length > 0}">{{ successMessage || errorMessage }}</div>
</div>
