<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let eachRequest of currentEmployeeRequests"
        [ngClass]="{'success': eachRequest.Status === 1, 'danger': eachRequest.Status === 3}">
      <td>{{eachRequest.StartDate}}</td>
      <td>{{eachRequest.EndDate}}</td>
      <td>{{displayStatusAsString(eachRequest.Status)}}</td>
      <td>
        <button class="btn btn-danger">Cancel Request</button>
      </td>
    </tr>
  </tbody>
</table>
