<p>You currently have {{ authService.employeeBalance }} hours of PTO left.</p>
<!-- TODO: Update employeeBalance when page is loaded. Currently user has to log out and back in to get the balance to get update. -->

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let eachRequest of currentRequests; let i = index;"
        [ngClass]="{'success': eachRequest.status === 1, 'danger': eachRequest.status === 3}">
      <td>{{convertHTMLToDate(eachRequest.startDate.toString())}}</td>
      <td>{{convertHTMLToDate(eachRequest.endDate.toString())}}</td>
      <td>{{displayStatusAsString(eachRequest.status)}}</td>
      <td>
        <button class="btn btn-danger" (click)="onDelete(eachRequest.id, i)">Cancel Request</button>
      </td>
    </tr>
  </tbody>
</table>
