<form (ngSubmit)="addEmployee()" #addEmployeeForm="ngForm">
  <div class="form-group" [ngClass]="{'has-error': firstNameInput.invalid && firstNameInput.touched}">
    <label>First Name:
      <input
        type="text"
        name="Firstname"
        class="form-control"
        required
        ngModel
        #firstNameInput="ngModel"></label>
  </div>
  <div class="form-group" [ngClass]="{'has-error': lastNameInput.invalid && lastNameInput.touched}">
    <label>Last Name:
      <input
        type="text"
        name="Lastname"
        class="form-control"
        required
        ngModel
        #lastNameInput="ngModel"></label>
  </div>
  <div class="form-group" [ngClass]="{'has-error': emailInput.invalid && emailInput.touched}">
    <label>email:
      <input
        type="email"
        name="email"
        class="form-control"
        required
        ngModel
        #emailInput="ngModel"></label>
  </div>
  <div class="form-group">
    <label>Role:
      <select
        name="RoleID"
        class="form-control"
        required
        [ngModel]="2"
        #roleIDInput="ngModel">
        <option value="2">Employee</option>
        <option value="1">HR</option>
      </select>
    </label>
  </div>
  <div class="form-group" [ngClass]="{'has-error': passwordInput.invalid && passwordInput.touched}">
    <label>Password:
      <input
        type="text"
        name="password"
        class="form-control"
        required
        ngModel
        #passwordInput="ngModel"></label>
  </div>
  <button type="submit" class="btn btn-primary" name="AddEmployee" [disabled]="createEmployeeForm.invalid">Add Employee</button>
</form>
<h2>Message</h2>

<hr>
<p>For development troubleshooting only. Will not be displayed in production</p>
<table class="table table-bordered">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>email</th>
    <th>Role</th>
    <th>Password</th>
  </tr>
  <tr *ngFor="let employee of allEmployees">
    <td>{{employee.Firstname}}</td>
    <td>{{employee.Lastname}}</td>
    <td>{{employee.email}}</td>
    <td>{{employee.RoleID}}</td>
    <td>{{employee.password}}</td>
  </tr>
</table>
