<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>HOLIDAY NAME</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>New Years</td>
      <td>January 1</td>
    </tr>
    <tr>
      <td>HOLIDAY NAME</td>
      <td>Date</td>
    </tr>
    <tr>
      <td>HOLIDAY NAME</td>
      <td>Date</td>
    </tr>
    <tr>
      <td>HOLIDAY NAME</td>
      <td>Date</td>
    </tr>
    <tr>
      <td>HOLIDAY NAME</td>
      <td>Date</td>
    </tr>
    <tr>
      <td>HOLIDAY NAME</td>
      <td>Date</td>
    </tr>
  </tbody>
</table>
