<form (ngSubmit)="makeRequest()" #createRequestForm="ngForm">
  <div class="form-group" [ngClass]="{'has-error': requestStartDate.invalid && requestStartDate.touched}">
    <label>Start Date:
      <input
        type="date"
        class="form-control"
        name="startDate"
        required
        ngModel
        #requestStartDate="ngModel"></label>
    <span class="help-block" *ngIf="requestStartDate.invalid && requestStartDate.touched">Start Date cannot be blank</span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': requestEndDate.invalid && requestEndDate.touched}">
    <label>End Date:
      <input
        type="date"
        name="endDate"
        class="form-control"
        required
        ngModel
        #requestEndDate="ngModel"></label>
      <span class="help-block" *ngIf="requestEndDate.invalid && requestEndDate.touched">End Date cannot be blank</span>
  </div>
    <button type="submit" name="submitRequest" class="btn btn-primary">Submit Request</button>
</form>
